@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.centered {
    margin: 0 auto;
    max-width: 60%
}

.main-title {

    font-family: Roboto;
    font-size: 10vw;
    text-align: center;

    color: #000000;
}

.secondary-text {

    font-family: Roboto;
    font-size: 3vmin;
    text-align: center;

    color: #000000;
}

.inputer {
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    outline: 1px solid black;
}

.url {

}

.submit-button {

}

